# Defines triton, monitoring, and loadtest namespaces
apiVersion: v1
kind: Namespace
metadata:
  name: triton
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: loadtest
